body{

background-color: rgb(255, 8, 0);

}

header{
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.cabecalho_imagem{

    width: 200px;
    height: 200px;
    border-radius: 50px;
}


.cabecalho_menu-listaitem{
    display: inline;
    text-transform: uppercase;
}