body{

background-color: rgb(26, 21, 21);

}

header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(241, 9, 183);
}

.cabecalho_imagem{

    width: 200px;
    height: 200px;
    border-radius: 50px;
}


.cabecalho_menu-listaitem{
    display: inline;
    text-transform: uppercase;
    margin-left: 20px;
    align-center:
}

.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.sobre.imagem{
    width: 400px;
    height: 400px;
    padding: 20px;
}

.sobre_texto{
    text-align: justify;
    width: 400px ;  
  }